{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>LogIn</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
	<div class="LogIn">
		<h1>Login</h1>
		<form action="login" method="POST" >
			{% csrf_token %}
			<div class="input-box">
				<i class="fa fa-envelope-o"></i>
				<input type="email" placeholder="Email-Id" name="email">
			</div>
			<div class="input-box">
				<i class="fa fa-key"></i>
				<input type="password" placeholder="Password" name="password">
				<!-- <span class="eye">
				<i id="hide1" class="fa fa-eye"></i>
				<i id="hide2" class="fa fa-eye-slash"></i>
				</span> -->
			</div>
			{% for message in messages %}
				<p style="color: red;">{{message}}</p>
			{% endfor %}
			<button type="submit" class="Login-but1">Login</button></form>
			<a href="/admin"><button type="button" class="Login-but2">Login As Admin</button></a>
			<a href="register"><button type="button" class="Login-but2">Create a new Account</button></a>
	</div> 
</body>
</html>